<po-page-default
  [p-title]="pageTitle"
  [p-breadcrumb]="{
    items: [
      { label: 'Financeiro', link: '/financeiro' },
      { label: 'Clientes', link: '/financeiro/clientes' },
      { label: pageTitle }
    ]
  }"
>
  <po-loading-overlay [p-screen-lock]="saving()" p-text="Salvando..."></po-loading-overlay>

  <form [formGroup]="form">
    <po-container>
      <div class="po-row">
        <po-input
          class="po-md-3"
          p-label="Código"
          formControlName="codigo"
          p-max-length="6"
          [p-required]="true"
        ></po-input>

        <po-input
          class="po-md-2"
          p-label="Loja"
          formControlName="loja"
          p-max-length="2"
          [p-required]="true"
        ></po-input>

        <po-input
          class="po-md-7"
          p-label="Nome"
          formControlName="nome"
          p-max-length="40"
          [p-required]="true"
        ></po-input>
      </div>

      <div class="po-row">
        <po-input
          class="po-md-6"
          p-label="Nome Fantasia"
          formControlName="nomeFantasia"
          p-max-length="20"
        ></po-input>

        <po-input
          class="po-md-6"
          p-label="CNPJ/CPF"
          formControlName="cnpj"
          p-max-length="14"
          p-mask="99.999.999/9999-99"
        ></po-input>
      </div>

      <div class="po-row">
        <po-input
          class="po-md-5"
          p-label="Cidade"
          formControlName="cidade"
          p-max-length="15"
        ></po-input>

        <po-input
          class="po-md-2"
          p-label="UF"
          formControlName="uf"
          p-max-length="2"
        ></po-input>

        <po-input
          class="po-md-5"
          p-label="Telefone"
          formControlName="telefone"
          p-max-length="15"
          p-mask="(99) 99999-9999"
        ></po-input>
      </div>
    </po-container>
  </form>

  <div class="po-row po-mt-2">
    <div class="po-col">
      <po-button
        p-label="Salvar"
        p-type="primary"
        p-icon="an an-check"
        [p-loading]="saving()"
        [p-disabled]="form.invalid"
        (p-click)="onSave()"
      ></po-button>

      <po-button
        class="po-ml-1"
        p-label="Cancelar"
        p-icon="an an-x"
        (p-click)="onCancel()"
      ></po-button>
    </div>
  </div>
</po-page-default>
