<po-page-dynamic-search
  [p-title]="title"
  [p-actions]="pageActions"
  [p-filters]="advancedFilters"
  (p-quick-search)="onQuickSearch($event)"
  (p-advanced-search)="onAdvancedSearch($event)"
  (p-change-disclaimers)="onChangeDisclaimers($event)">

  <po-table
    [p-columns]="columns"
    [p-items]="items()"
    [p-loading]="loading()"
    [p-actions]="tableActions"
    [p-show-more-disabled]="!hasNext()"
    (p-show-more)="onShowMore()">
  </po-table>

</po-page-dynamic-search>

<po-modal
  p-title="Manutenção de Taxa de Cartão"
  [p-primary-action]="confirmarModal"
  [p-secondary-action]="cancelarModal">

  <po-dynamic-form
    [p-fields]="fields"
    [(p-value)]="formValues">
  </po-dynamic-form>

</po-modal>
